# 数据预处理

In [8]:
import os

# 创建一个人工数据集，存储在 csv(逗号分割值)文件
os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n') # 列名
    f.write('NA,Pave,127500\n') # 每行表示一个数据样本， NA 表示未知
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,14000\n')

In [9]:
# 从创建的 csv 文件中加载原始数据集
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN   14000

In [13]:
# 处理缺失的数据，典型的方法包括 插值 和 删除

# 将数据分为输入特征-inputs和标签-outputs
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
# 处理 NumRooms 中的 NaN 值
inputs = inputs.fillna(inputs.mean(numeric_only=True))
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [18]:
# 处理 Alley 中的 NaN 值：对于 inputs 中的类别值或离散值，将 Nan 视为一个类别
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0        True      False
1       2.0       False       True
2       4.0       False       True
3       3.0       False       True

In [21]:
import torch
X, y = torch.tensor(inputs.values.astype(float)), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100,  14000]))